.cm-header-1 { color: #00a65b; }  
.cm-header-2 { color: #f2c042; }
.cm-header-3 { color: #c14343; }
.cm-header-4 { color: #008872; }
.cm-header-5 { color: #c14343; }
.cm-header-6 { color: #bccad8; }
